.block {
  background-color: green;
  width: 100%;
}

.new {
  background-color: pink;
  width: 40%;
  font-size: 40px;
  padding: 20px;
  margin-top: 4px;
  color: #000;
  text-align: center;
}

.circle {
  background: black;
  width: 20%;
}
